.PublicRepo,
.YourRepo,
.OrgRepo,
.userRepo,
.YourRepo {
  position: absolute;
  .searchbar {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 65px;
    margin: 10px 10px;
    width: 400px;
    justify-content: space-between;
    .input-field {
      width: 88%;
      .inputBox {
        margin-left: 10px;
        height: 20px;
        width: 88%;
        border: none;
        outline: none;
        font-size: 20px;
      }
    }
    .searchicon {
      .icon {
        width: 40px;
      }
    }
    .searchicon:hover {
      cursor: pointer;
      background-color: rgb(63, 181, 202);
      border-radius: 0 19px 19px 0;
      padding-left: 10px;
    }
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 723px;

    .card {
      border: 1px solid rgb(143, 140, 140);
      border-radius: 20px;
      text-align: left;
      margin: 20px 0 0 20px;
      display: flex;
      width: 46%;
      height: fit-content;
      .first-half {
        align-self: center;
        margin: 0 10px;
        .avatar {
          .avatar-img {
            width: 110px;
            border: 1px black solid;
            border-radius: 75px;
          }
        }
      }
      .second-half {
        margin-right: 10px;
      }
    }
    .alternative {
      margin-left: 18px;
      margin-top: 50px;
      .displayimage {
        width: 350px;
      }
    }
    .alternative-token {
      margin-left: 18px;
      margin-top: 50px;
      .displayimage-token {
        width: 180px;
      }
    }
    .alternative-org-token {
      margin-left: 18px;
      margin-top: 50px;
      .displayimage-org-token {
        width: 180px;
      }
    }
  }
}
@media only screen and (max-width: 1150px) {
  .PublicRepo,
  .YourRepo,
  .OrgRepo,
  .userRepo,
  .YourRepo {
    .card-list {
      .card {
        font-size: 14px;
        width: 46%;
      }
    }
  }
}
@media only screen and (max-width: 1040px) {
  .PublicRepo,
  .YourRepo,
  .OrgRepo,
  .userRepo,
  .YourRepo {
    .card-list {
      .card {
        font-size: 14px;
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 940px) {
  .PublicRepo,
  .YourRepo,
  .OrgRepo,
  .userRepo,
  .YourRepo {
    .card-list {
      .card {
        width: 90%;
        font-size: 15px;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .PublicRepo,
  .YourRepo,
  .OrgRepo,
  .userRepo,
  .YourRepo {
    left: 0;
    position: static;
    .searchbar {
      width: 300px;
    }
    .card-list {
    min-width: 0px;
      .card {
        width: 90%;
      }
      .alternative,
      .alternative-token,
      .alternative-org-token {
        font-size: 15px;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .PublicRepo,
  .YourRepo,
  .OrgRepo,
  .userRepo,
  .YourRepo {
    left: 0;
    .searchbar {
      width: 70%;
    }
    .card-list {
      .card {
        width: fit-content;
      }
      .alternative {
        margin-left: 0px;
        margin-top: 50px;
        h2 {
          width: 444px;
        }
        .displayimage {
          width: 200px;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .PublicRepo,
  .YourRepo,
  .OrgRepo,
  .userRepo,
  .YourRepo {
    left: 0;
    .searchbar {
      width: 70%;
      .input-field {
        .inputBox::placeholder {
          font-size: 12px;
        }
        .inputBox {
          font-size: 13px;
        }
      }
    }
    .card-list {
      .card {
        width: fit-content;
        right: 20px;
        margin: 10px 0 0 0;
        .second-half {
          .name {
            h4 {
              width: fit-content
            }
          }
        }
      }
      .alternative {
        margin-left: 0px;
        margin-top: 50px;
        h2 {
          width: 244px;
          font-size: 17px;
        }
        .displayimage {
          width: 200px;
        }
      }
    }
    .alternative-token {
      margin-left: 0px;
      margin-top: 50px;
      h2 {
        font-size: 12px;
      }
      .displayimage-token {
        width: 109px;
      }
    }
    .alternative-org-token {
      margin-left: -49px!important;
      margin-top: 25px!important;
      h2 {
        font-size: 12px;
      }
      .displayimage-org-token {
        width: 109px;
      }
    }
  }
}
