.decider {
  display: flex;
  .main-dashboard {
    position: fixed;
    width: 25%;
    border: 1px solid black;
    color: white;
    height: fit-content;
    background-color: rgb(15, 29, 224);
    .dashboard-heading {
      text-align: left;
      padding: 15px 20px;
      border: 1px solid rgb(155, 150, 150);
    }
    .options {
      text-align: left;
      color: white;
      .option-list {
        padding: 22px 20px;
        border: 1px solid rgb(155, 150, 150);
      }
      .option-list:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
}
